:root {
  /* default colors */
  --main--background: #e8e8e8;
  --main--text: #1d1d1d;
  /* dollop colors */
  --dollop--background: #f1e4d1;
  --dollop--text: #e10b03;
  /* all seasons colors */
  --as--background: #e3dcc9;
  --as--text: #006e50;
  /* sociologists of mn colors */
  --som--background: #acd8ac;
  --som--text: #4a4847;
  /* itsthereal colors */
  --itr--background: #33658a;
  --itr--text: #fff2dc;
}

.bg-all-seasons {
  background-color: var(--as--text);
}

.hover-home-sa {
  transition: 0.7s;
}
.hover-home-sa:hover {
  background-color: var(--as--background);
  color: var(--as--text);
  transition-duration: 200ms;
}

.hover-home-som {
  transition: 0.7s;
}
.hover-home-som:hover {
  background-color: var(--som--background);
  color: var(--som--text);
  transition-duration: 200ms;
}

.hover-home-dollop {
  transition: 0.7s;
}

.hover-home-dollop:hover {
  background-color: var(--dollop--background);
  color: var(--dollop--text);
  transition-duration: 200ms;
}

.hover-home-itr {
  transition: 0.7s;
}

.hover-home-itr:hover {
  background-color: var(--itr--background);
  color: var(--itr--text);
  transition-duration: 200ms;
}

/* fonts */

@font-face {
    font-family: "commit";
    src:
        local("Commit"),
        url("fonts/CommitMono-400-Regular.otf") format("opentype") tech(color-COLRv1),
        url("fonts/CommitMono-400-Regular.otf") format("opentype"),
  }

  .commit { font-family: 'Commit', courier, monospace; }

  @font-face {
    font-family: "untitled-sans";
    src:
        local("untitledsans"),
        url("fonts/UntitledSans-Bold.otf") format("opentype") tech(color-COLRv1),
        url("fonts/UntitledSans-Bold.otf") format("opentype"),
  }

  .untitled-sans { font-family: 'untitled-sans', Helvetica, sans-serif; }

  @font-face {
    font-family: "jakob";
    src:
        local("jakob"),
        url("fonts/jakob.otf") format("opentype") tech(color-COLRv1),
        url("fonts/jakob.otf") format("opentype"),
  }

  .jakob { font-family: 'jakob', Helvetica, sans-serif; }

  /* fonts */

  .project-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .project-divider {
    height: 1px;
    width: 100%;
  }

  .gap-3 {
    gap: 1rem;
  }